<div>
  <div class="filters">
    <form [formGroup]="filterForm">
      <mat-form-field>
        <mat-label>Filter by breed : </mat-label>
        <input formControlName="breed" matInput placeholder="Tiger">
      </mat-form-field>
    </form>
    <div>
      <button mat-flat-button color="primary" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
      <button mat-flat-button color="primary" (click)="nextPage()" [disabled]="noNext">Next</button>
    </div>
  </div>
  <div class="list-container">
    <ng-container *ngFor="let cat of cats">
      <app-cat-card [cat]="cat"></app-cat-card>
    </ng-container>
  </div>
</div>