<form [formGroup]="catForm" (ngSubmit)="onSubmit()">
  <div>
    <mat-form-field>
      <mat-label>Name : </mat-label>
      <input formControlName="name" matInput placeholder="Felix">
    </mat-form-field>

  </div>

  <div>
    <mat-form-field>
      <mat-label>Breed : </mat-label>
      <input formControlName="breed" matInput placeholder="Tiger">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <label for="birthday">Birthday:</label>
      <input type="date" matInput formControlName="birthday" />
    </mat-form-field>
  </div>

  <button mat-flat-button color="primary" type="submit" [disabled]="!catForm.valid">Create Cat</button>
</form>